attrs
Babel
bleach
cffi
charset-normalizer
colorama
cycler
defusedxml
experta
fonttools
frozendict
idna
joblib
kiwisolver
matplotlib
numpy
Owlready2
packaging
pandas
pickleshare
Pillow
pycparser
Pygments
pyparsing
pyrsistent
python-constraint
python-dateutil
pytz
pywin32
requests
schema
scikit-learn
scipy
seaborn
six
sklearn
threadpoolctl
typing